.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.timeContainer {
  position: absolute;
  top: 125px;
}

.timePassed {
  font-size: 1.2em;
  margin-bottom: 8px;
  text-align: center;
}

.bestTime {
  color: orange;
  font-size: 1.2em;
  margin-top: 0;
}
